@import "tailwindcss";
@plugin "daisyui";

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";

@layer utilities {
  .node-info-item {
    @apply text-blue-700 dark:text-blue-400;
  }
  .node-info-item-info {
    @apply text-green-700 dark:text-green-400;
  }
  .animate-slide {
    animation: slide 25s linear infinite; /* Apply the sliding animation */
  }
}

@keyframes slide {
    0% {
        transform: translateX(25%); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(-85%); /* Slide out of view to the left */
    }
}
